.skills {
  padding: 5rem 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: var(--ifm-card-background-color);
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  border: 1px solid var(--ifm-color-emphasis-200);
}
